## Comprehensions in Python :

* In general comprehension is nothing but incluse.That means within itself. <br>Adavantages:<br>

    * makes code simple and consise.
    * reduces the number of lines of code.

Types of Comprehensions :

* List Comprehension
* Dictionary Comprehension
* Set Comprehension
* Generator Comprehension

### List Comprehension:

If we write our code within a list to create the output in a list format .That is list comprehension.

In [1]:
### Display the 1 to 10 in a list:
l = []
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
### List comprehension:

c = [i for i in range(1,10)]
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
### Print even numbers from a given list in a list format.

a = [1,2,3,4,6,2,4,90,567,3]
l = []
for i in a:
    if i % 2 == 0:
        l.append(i)
print(l)

[2, 4, 6, 2, 4, 90]

In [4]:
#### List comprehension:

li = [i for i in a if i % 2 == 0]
print(li)

[2, 4, 6, 2, 4, 90]

In [5]:
### print even number in a list and in the position of odd number display "not even"

a = [1,2,3,4,6,2,4,90,567,3]
l = []
for i in a:
    if i % 2 == 0:
        l.append(i)
    else:
        l.append("not even")
print(l)

['not even', 2, 'not even', 4, 6, 2, 4, 90, 'not even', 'not even']

In [7]:
### list comprehension 

li = [i if i % 2 == 0 else "not even" for i in a ]
li

['not even', 2, 'not even', 4, 6, 2, 4, 90, 'not even', 'not even']

In [8]:
a = ["Python Summer Programming", "sessions for all students"]
li = []
for i in a :
    for j in i.split():
        li.append(j)
print(li)

['Python', 'Summer', 'Programming', 'sessions', 'for', 'all', 'students']

In [9]:
### List comprehension:

['Python Summer Programming', 'sessions for all students']

In [12]:
a = ["Python Summer Programming", "sessions for all students"]

list_com = [j for i in a for j in i.split()]
list_com

['Python', 'Summer', 'Programming', 'sessions', 'for', 'all', 'students']

In [13]:
### print the table in the defined range
## range(1,3)
### o/p : [[1,2,3,4,5,6,7,8,9,10],[2,4,6,8,10,12,14,16,18,20]]

In [39]:
l1 = []
l2 = []
for i in range(1,3):
    for j in range(1,11):
        li = i*j
        l1.append(li)
    l2.append(l1)
l2

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]]

In [31]:
### list comprehension

table = [[i*j for i in range(1,11)] for j in range(1,3)]
table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]]

### Dictionary Comprehension:

In [43]:
state = ["Andhra","Telangana","Tamilnadu"]
capital = ["amaravathi","Hyderabad","Chennai"]
c = {}
for (key,value) in zip(state,capital):
     c[key] = value
print(c)

{'Andhra': 'amaravathi', 'Telangana': 'Hyderabad', 'Tamilnadu': 'Chennai'}

In [45]:
### Dictionary Comprehension:

output = {key:value for (key,value) in zip(state,capital)}
output

{'Andhra': 'amaravathi', 'Telangana': 'Hyderabad', 'Tamilnadu': 'Chennai'}

In [50]:
### li = [1,2,3,4,56,78,90]
# o/p {1:1,2:8,3:27}

In [52]:
out = {i:i**3 for i in li}
out

{1: 1, 2: 8, 3: 27, 4: 64, 56: 175616, 78: 474552, 90: 729000}

In [57]:
l1 = []
l2 = []

for j in range(1,11):
        li = j*2
        l1.append(li)
        l2.append(j)
print([l1,l2])

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

### Set Comprehension:

In [59]:
li  =[1,3,4,5,78,90,5,9,3]
s = set()
for i in li:
    if i % 2 !=0:
        s.add(i**3)
print(s)

{1, 27, 729, 125}

In [61]:
### Set comprehension:

s = {i**3 for i in li if i%2 !=0}
s

{1, 27, 125, 729}

### Generator Comprehension:

In [64]:
li  =[1,3,4,5,78,90,5,9,3]
c = (i**3 for i in li)
print(c)
for i in c:
    print(i)

<generator object <genexpr> at 0x000001C269994138>
1
27
64
125
474552
729000
125
729
27

### Iterators and Generators:

##### Iterator:

* it will contain number elements and we can access element as per requirement.
* iter and next are the concepts we use in iterators.

In [65]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [66]:
l = "python"
l_iter = iter(l)
next(l_iter)

'p'

In [67]:
next(l_iter)

'y'

In [68]:
next(l_iter)

't'

In [69]:
next(l_iter)

'h'

In [70]:
next(l_iter)

'o'

In [71]:
next(l_iter)

'n'

In [72]:
next(l_iter)

StopIteration:

In [73]:
a = ["Ece","cse","eee","mech"]
a_obj = iter(a)
next(a_obj)

'Ece'

In [74]:
next(a_obj)

'cse'

In [75]:
next(a_obj)

'eee'

In [76]:
next(a_obj)

'mech'

In [77]:
next(a_obj)

StopIteration:

In [78]:
a = ["Ece","cse","eee","mech"]
a_iter = iter(a)
while True:
    try:
        item = next(a_iter)
        print(item)
    except StopIteration:
        break

Ece
cse
eee
mech

#### Generators:

* Generator is also like function but in place of return we will use yield.
* Generators will be used in combination of iterator.

In [82]:
def gen(n = 2):
    while True:
        n **= 2
        yield n
        
a = gen()
next(a)

4

In [85]:
next(a)

65536

In [92]:
a = "python"
a = a[-1::-1]
b = iter(a)
next(b)

'n'